.App {
  text-align: center;
}
.helperWelcome {
  margin-left: 10%;
}
.helperTicketsContainer {
  display: flex;
  justify-content: space-evenly;
}
.helperTicketSubcontainer {
  width:40%;
}
.ticketListHelper {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
.assignedListHelper {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}